div[id^='/pages/common-list/online-followup/success'] {
  background: @bg-color-blue-1 !important;
  background-color: @bg-color-blue-1 !important;
  scrollbar-width: none;
}

div[id^='/pages/common-list/online-followup/success']::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.online-followup-success-page {
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background: @bg-color-blue-1 !important;
}
