div[id^='/pages/appointment/result/index'] {
  background: @bg-color-blue-1 !important;
  background-color: @bg-color-blue-1 !important;
  scrollbar-width: none;
}

div[id^='/pages/appointment/result/index']::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.appointment-result-page {
  background: @bg-color-blue-1 !important;
  min-height: 100vh;
  overflow-x: hidden;
}
